<footer class="footer">
  <div class="section-container footer-content">
    <div class="footer-col">
      <div class="logo">
        <img src="/assets/mediGo.png" alt="logo" />
        <span>MediGoneWild</span>
      </div>
      <p>
        Committed to providing high-quality medical care with compassion and
        excellence. Your health and well-being are our top priorities.
      </p>
    </div>

    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Blogs</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contact Us</h4>
      <ul>
        <li>
          <i class="fa-solid fa-location-dot"></i> 123 Health St, Medicity
        </li>
        <li><i class="fa-solid fa-phone"></i> (123) 456-7890</li>
        <li><i class="fa-solid fa-envelope"></i> info@medigonewild.com</li>
      </ul>
      <div class="footer-socials">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bar">
    <p>&copy; 2024 All Rights Reserved By MediGoneWild</p>
  </div>
</footer>
