/* === Contact Page Styles === */

.contact-header {
  padding: 6rem 1rem 4rem 1rem;
  text-align: center;
  background-color: var(--primary-color-light);
}

.contact-header h1 {
  font-size: 2.8rem;
  color: var(--text-head);
  margin-bottom: 0.5rem;
}

.contact-header p {
  font-size: 1.1rem;
  color: var(--text-light);
  max-width: 700px;
  margin: auto;
}

.contact-container {
  display: flex;
  justify-content: center;
  padding: 5rem 1rem;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  padding: 2.5rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 1.25rem;
}

.contact-form label {
  font-weight: 600;
  color: var(--text-head);
  margin-bottom: -5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--primary-color);
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

.contact-form .btn {
  width: 100%;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
